.Circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CircleBackground,
.CircleFill {
  position: absolute;
  width: 186px;
  height: 186px;
}

.Circle svg {
  width: 100%;
  height: 100%;
}

.CircleText,
.MicroCircleText {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.CircleBackground,
.MicroCircleBackground {
  filter: drop-shadow(0px 1px 4px rgb(0 0 0 / 0.4));
}

/* MICRO NUTRIENTS */

.MicroCircleBackground,
.MircoCircleFill {
  width: 65px;
  height: 65px;
}

.MircoCircleFill {
  position: absolute;
}

.MicroCircleText {
  font-size: 16px;
}

@media (min-width: 750px) {
  .MicroCircleBackground,
  .MircoCircleFill {
    width: 95px;
    height: 95px;
  }

  .CircleBackground,
  .CircleFill {
    position: absolute;
    width: 250px;
    height: 250px;
  }

  .MicroCircleText {
    font-size: 20px;
  }
}
