.Home-recipe-container {
  padding: 25px 16px;
  background: #f9fbf9;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Home-recipe-container h2 {
  color: #212529;
  padding: 25px 9px 0;
}

.Home-recipe-container a {
  text-decoration: none;
  color: #383838;
}

.Home-recipe-container a:visited {
  color: #383838;
}

.Home-review-container {
  padding: 25px 16px;
}

.Home-reviews {
  display: flex;
  flex-direction: column;
}

.Home-reviews .Review-body {
  margin-bottom: 38px;
}
.Home-review-container h2 {
  text-align: center;
}

.Home-reviews span:first-child {
  background-color: transparent;
}
