.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mealCards {
  margin: 100px 0;
}
.mealCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px auto 0;
  width: 358px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  letter-spacing: 0.03em;

  color: #000000;
}
.mealP {
  width: 390px;
  padding-left: 35px;
}
.mealImg {
  width: 36px;
  height: 36px;
}
.mealImgTraining {
  width: 40px;
  height: 40px;
}

.plusCircle {
  width: 32px;
  height: 32px;
  color: rgba(122, 203, 148, 1);
}

.LoggedInHomePage {
  background-color: #f9fbf9;
}

.LoggedInHero img {
  max-height: 330px;
  position: absolute;
  top: 0;
  width: 100%;
}

.circleContainer {
  position: absolute;
  top: 95px;
  left: 50%;
  margin-top: 83px;
}

.LoggedInContent {
  position: relative;
  background-color: #f9fbf9;
  padding: 37px 16px 58px;
  margin-top: 298px;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.LoggedInContent h1 {
  text-transform: capitalize;
  text-align: center;
}

.LoggedInMacros {
  padding: 28px 12px 35px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 500;
  max-width: 450px;
  margin: 0 auto;
}

.LoggedInMacros .MicroCircleBackground,
.LoggedInMacros .MircoCircleFill {
  width: 78px;
  height: 78px;
  margin: 12px 0;
}

.Nutrient {
  font-weight: 600;
}

.weightContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 39px 28px 33px;
}

.weightWrapper {
  display: flex;
  justify-content: space-between;
}

.weightButton {
  font-weight: 600;
  background-color: #7acb94;
  color: #174e2e;
  width: fit-content;
  padding: 11px 22px;
  border-radius: 30px;
  margin: 0 auto 20px;
}

@media (min-width: 750px) {
  .LoggedInMacros .MicroCircleBackground,
  .LoggedInMacros .MircoCircleFill {
    width: 85px;
    height: 85px;
  }
}
