* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 852px;
  padding-top: 263px;
  align-items: center;
}

.Form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.Input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  width: 261px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;

  /* flex: none;
  order: 0;
  flex-grow: 1; */
}

.lastInput {
  margin-top: 30px;
}
.logginSubmitButton {
  box-sizing: border-box;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  padding: 6px 12px;
  gap: 8px;
  margin-top: 65px;
  /* position: absolute; */
  width: 261px;
  height: 33px;
  /* left: 66px;
  top: 424px; */

  background: #6c757d;

  border: 1px solid #6c757d;
  border-radius: 30px;
}
.accountQuestion {
  margin-top: 26px;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  width: 261px;
}
.registerButton {
  margin-top: 5px;
  padding: 6px 12px;
  width: 261px;
  height: 33px;
  background: linear-gradient(96.22deg, #7acb94 0%, #eedf76 100%);
  border: 1px solid #0d6efd;
  border-radius: 30px;
}
