.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9fbf9;
}

.recipeH1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-top: 15px;
}

.recipeImg {
  max-height: 230px;
  width: 100%;
  margin-bottom: 20px;
}

.infoIcons {
  display: flex;
  justify-content: center;
  gap: 51px;
  max-width: 309px;
  margin: 15px auto 20px;
}

.instContainer {
  width: 100%;
  margin-bottom: 16px;
}

.instTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconBox {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.greenIconBox {
  width: 60px;
  height: 60px;
  background-color: #7acb94;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBag {
  width: 32px;
  height: 36px;
  color: #174e2e;
}
.IconClock {
  width: 32px;
  height: 32px;
  color: #174e2e;
}

.IconChat {
  width: 37px;
  height: 32px;
  color: #174e2e;
}

.recipeDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.ingredients {
  list-style: none;
  padding-left: 16px;
}

.recipeH2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #383838;
  margin: 15px 0;
}

.recipeReviews {
  padding: 10px 16px 21px;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 32px;
  width: 100%;
  background-color: #fff;
  color: #383838;
}

.IconHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LogginIfNot {
  padding: 27px 16px 26px;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #383838;
  height: 91px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
}

.commentBox {
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 16px;
}
.comment {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 100%;
}
.stars {
  margin-top: 10px;
}

.commentField {
  margin-top: 5px;
  border-style: none;
  width: 100%;
}

.commentLink {
  color: rgba(122, 203, 148, 1);
  text-decoration: none;
}

.imgPick {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.sendButton {
  color: #174e2e;
  transform: rotate(45deg);
  width: 28px;
  height: 28px;
}

.recipeReviews span:first-of-type {
  background-color: transparent;
  margin: 0;
}

.recipeInfo {
  margin: 0 auto;
  text-align: center;
}

.recipeHero {
  width: 100%;
}

.microContainer {
  max-width: 358px;
  height: 237px;
  margin: 0 auto 27px;
}

.imageWrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

/* Media Queries */

@media (min-width: 500px) {
  .recipeImg {
    max-height: 350px;
  }
}

@media (min-width: 750px) {
  /* Hero */

  .recipeImg {
    max-height: 561px;
    border-radius: 30px;
    height: 100%;
    margin: 0;
  }

  .imageWrapper {
    max-width: 675px;
    margin: 0 auto 30px;
    max-height: 580px;
  }

  .recipeInfo {
    min-width: 531px;
    margin: 0;
    margin-left: 40px;
    align-self: flex-end;
  }

  .recipeH1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .infoIcons {
    font-size: 20px;
    margin: 20px auto 55px;
  }

  .ratingContainer {
    font-size: 31px;
    display: flex;
    gap: 3px;
    justify-content: center;
  }

  .microContainer {
    max-width: 557px;
    width: 100%;
    height: 355px;
    background-color: #fff;
  }

  /* Ingredients & instruction */
  .instTitle {
    flex-direction: row;
    gap: 20px;
  }

  .recipeDetails {
    padding-left: 95px;
  }

  .ingredients {
    padding-left: 80px;
  }

  .recipeDetailsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 35px;
  }

  /* Reviews */
  .IconHeading {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 15px;
  }

  .recipeH2 {
    font-size: 28px;
    font-weight: 700;
  }

  .recipeReviews {
    width: 100%;
    padding: 20px 35px 30px;
  }

  .recipeReviews .Review-divider {
    margin: 30px 0;
  }

  .recipeReviews .Review-body {
    width: 100%;
    max-width: 100%;
    gap: 24px;
  }

  .recipeReviews .Review-content {
    gap: 10px;
  }

  .recipeReviews .Review-image {
    max-width: 65px;
    width: 65px;
    height: 65px;
  }

  .commentBox {
    padding: 0 35px;
  }
}

@media (min-width: 1100px) {
  .recipeHero {
    display: flex;
    padding: 35px;
    justify-content: space-around;
  }

  .microContainer {
    margin: 0;
  }

  .imageWrapper {
    margin: 0;
  }
}
