.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.recipeH1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-top: 15px;
}

.recipeImg {
  height: 230px;
  width: 100%;
  object-fit: cover;
}

.infoIcons {
  display: flex;
  justify-content: space-between;
  width: 309px;
  margin: 15px 40.5px 20px 40.5px;
}

.iconBox {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 5px;
}

.greenIconBox {
  width: 60px;
  height: 60px;
  background-color: #7acb94;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBag {
  width: 32px;
  height: 36px;
}
.IconClock {
  width: 32px;
  height: 32px;
}
.IconChat {
  width: 37px;
  height: 32px;
}

.recipeDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.ingredients {
  list-style: none;
  padding-left: 16px;
}

.recipeH2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #383838;
  margin: 15px 0;
}

.recipeReviews {
  padding: 16px;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 47px;
  padding-top: 10px;
}

.IconHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LogginIfNot {
  padding: 27px 16px 26px;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #383838;
  height: 91px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
}

.commentLink {
  color: rgba(122, 203, 148, 1);
  text-decoration: none;
}
